# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
config/channels.list
config/complete.list
config/jobs.json
config/config.json
config/config.json.*
config/cookies.user.txt
config/*.env
database
server/images

.env

# Local dev exclusion
ffmpeg.exe
yt-dlp.exe

# testing
/coverage
/client/coverage

# production
client/build
client/node_modules
jobs/*
config/jobs/*
config/images/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Platform deployment testing
docker-compose.override.*
